<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" >
    	<p>
    		<label for="email">Email:</label>
    	</p>
    	<p>
    		<input id="email" type="email" name="email" place-holder="email@dominio.com" required>
    	</p>
		<p>
    		<label for="passord">Passord:</label>
    	</p>
    	<p>
    		<input id="password" type="password" name="password" required>
    	</p>
    	<p>
			<a href="#" >Esqueci minha senha</a>
    		<input type="submit" value="Entra">
    	</p>
    </form>
  </body>
</html>
